body{
  margin-top: 60px;
  text-align:center;
  background-image: url(/bg.jpg);
}


h1 {
  padding-bottom: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  
  color: white;
}

input[type=number] {
  cursor: pointer;
}

#input-celsius{
  background-color: #52DDCF;
  font-size: 2.5rem;
  
}

#input-fahrenheit{
  background-color: #16BAC5;
  font-size: 2.5rem;
}

#input-kelvin{
  background-color: #42a0d9;
  font-size: 2.5rem;
}

.form-padding {
  padding: 2rem 1rem;
}

::-webkit-input-placeholder {
  color: white !important;
}
::-moz-placeholder {
  color: #FFFFFF !important;
}
:-ms-input-placeholder {
  color: #FFFFFF !important;
}
:-moz-placeholder {
  color: #FFFFFF !important;
}

.icons{
  max-width: 25px;
  height: auto;
}
